@font-face {
  src: url("../fonts/FuturaLT.ttf");
  font-family: FuturaLT;
}
@font-face {
  src: url("../fonts/FuturaLT-Bold.ttf");
  font-family: FuturaLT-Bold;
}
.main {
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: FuturaLT;
  background: #f3f3f3;
  font-size: 14px;
}

p {
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
  color: #222222;
  padding: 1.5em 0;
  letter-spacing: 0.4px;
}

.content {
  margin-left: 7%;
  margin-right: 7%;
  height: auto;
}

.content-about {
  margin-left: 7%;
  margin-right: 3%;
  height: auto;
}

.container {
  display: flex;
  padding-bottom: 80px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.container-made {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2%;
}

.container-tac {
  display: flex;
}

li img {
  border-radius: 50%;
  max-width: 20%;
  margin-left: 0;
  display: inline-block;
  float: left;
}

.fa-facebook-f:hover {
  color: #3046b7;
}

.fa-twitter:hover {
  color: #00a2f1;
}

.fa-youtube:hover {
  color: #cb092c;
}

.fa-linkedin-in:hover {
  color: #170d83;
}

.fa-google-plus-g:hover {
  color: #cb092c;
}

.fa-behance:hover {
  color: #3046b7;
}

.fa-volleyball-ball:hover {
  color: #e36309;
}

.fa-search {
  color: #ffcb0f;
}

.navigation.open {
  z-index: 10;
  background-color: #222533;
  opacity: 0.9;
  width: 150px;
  margin-top: 40px;
  right: 10%;
  height: auto;
  position: absolute;
  transition: transform 0.3s ease;
  display: block;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0, 0);
}
.navigation.open a {
  max-width: 100px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 1%;
}
.navigation.open a:hover {
  color: #ffcb0f;
}

.text-header-banner, .text-area h3, .text-area h1 {
  font-size: 48px;
  margin: 0 auto;
  font-family: FuturaLT-Bold;
}

.title-text, .made-with-love h2, .text-center h2, .our-service h2, .text-left h3 {
  margin: 0 auto;
  font-size: 24px;
  font-family: FuturaLT-Bold;
  color: #222222;
}

.paragraph, .text-center p, .text-left p {
  font-size: 14px;
  color: #222222;
  letter-spacing: 0.4px;
}

.button {
  border-radius: 10px;
  text-align: center;
  color: #f3f3f3;
  border: none;
  background-color: #ffcb0f;
  font-family: FuturaLT;
  padding: 0.8em 1.5em;
  font-size: 14px;
}

.button-left {
  font-family: FuturaLT-Bold;
}

.button-right {
  margin-left: 8%;
  font-family: FuturaLT-Bold;
}

.contact-input button {
  border-radius: 10px;
  text-align: center;
  color: #f3f3f3;
  border: none;
  background-color: #2f3240;
  width: 20%;
  height: 45px;
  margin-left: 5px;
  font-family: FuturaLT;
}
.contact-input button:hover {
  background-color: firebrick;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

button:hover {
  background-color: #f2f2f2;
  color: #ffcb0f;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.logo {
  position: absolute;
  line-height: 2px;
  padding: 15px 0px 15px 0px;
}
.logo h1 {
  font-size: 20px;
  font-style: italic;
  font-family: FuturaLT-Bold;
  color: #ffcb0f;
  padding-bottom: 4px;
}
.logo span {
  font-size: 14px;
  color: #e5e5e5;
}

.item-2 input {
  border-radius: 10px;
  background-color: #f3f3f3;
  font-family: FuturaLT;
  height: 45px;
  border: none;
  outline: none;
  padding-left: 10px;
  margin: 10% 0 5% 0;
  width: 90%;
}

.contact-input {
  margin-right: 10px;
  padding-bottom: 10px;
}
.contact-input input {
  border-radius: 10px;
  background-color: #f3f3f3;
  font-family: FuturaLT;
  height: 45px;
  border: none;
  outline: none;
  padding-left: 10px;
  margin: 0;
  width: 75%;
}

.top-header {
  margin: 0 auto;
  width: 100%;
  background-color: #ffcb0f;
  height: 50px;
}

.nav-top {
  display: inline-block;
  width: 75%;
}
.nav-top ul {
  padding: 0px;
}
.nav-top li {
  list-style: none;
  display: inline-block;
}
.nav-top span {
  margin-left: 5px;
  font-size: 12px;
  margin-right: 15px;
}
.nav-top span:hover {
  cursor: pointer;
}

.social-icon {
  width: 25%;
  display: inline-block;
  float: right;
}
.social-icon ul {
  padding: 0;
}
.social-icon li {
  list-style: none;
  float: right;
  width: 15px;
  margin-left: 10px;
}
.social-icon i:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
  cursor: pointer;
}

#first {
  margin-left: 0%;
}

.tabnav {
  margin: 0 auto;
  width: 100%;
  background-color: #222533;
  height: 82px;
}
.tabnav nav {
  float: right;
  padding-top: 30px;
}
.tabnav nav a {
  color: #f3f3f3;
  margin-left: 25px;
  font-size: 14px;
}
.tabnav nav a:hover {
  color: #ffcb0f;
}

#search {
  width: 20px;
}

.input-search {
  display: none;
}

.input-search.open {
  display: block;
  position: absolute;
  top: 20px;
  right: 10%;
  border-radius: 10px;
  background-color: #f3f3f3;
  font-family: FuturaLT;
  height: 45px;
  border: none;
  outline: none;
  padding-left: 10px;
  width: 425px;
  z-index: 10;
  transition: all 0.5s ease-out;
  transform: translate3d(0, 100%, 0);
}

.banner {
  margin: 0 auto;
  width: 100%;
  background-image: url("../images/Layer 9.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-background {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  background-color: #333333;
  opacity: 0.2;
}

.text-area {
  text-align: center;
  padding: 8% 5% 6% 5%;
}
.text-area h1 {
  padding: 2% 0 10px 0;
  color: #f3f3f3;
}
.text-area h3 {
  color: #ffcb0f;
}
.text-area h2 {
  font-family: FuturaLT;
  font-size: 30px;
  font-weight: 100;
  color: #f3f3f3;
}
.text-area p {
  font-size: 16px;
  color: #f3f3f3;
}

.more {
  text-align: center;
  padding: 0 5% 15% 5%;
}

.about-com {
  margin: 0 auto;
  width: 100%;
  display: block;
}

.company {
  padding: 0;
}

.text-left {
  width: 55%;
  text-align: left;
  display: inline-block;
  padding-bottom: 30px;
}
.text-left h2 {
  font-size: 30px;
  font-family: FuturaLT-Bold;
  margin: 0 auto;
  padding-top: 70px;
  color: #ffcb0f;
}
.text-left h3 {
  font-size: 22px;
}
.text-left p {
  margin-right: 3px;
}

.bg-right {
  width: 45%;
  display: inline-block;
  background-image: url("../images/Layer 2.png");
  background-repeat: no-repeat;
  background-position: 15%;
  float: right;
}
.bg-right img {
  margin-left: 30%;
  max-height: 422px;
}

.our-service {
  margin: 0 auto;
  width: 100%;
  background-color: #fafff8;
  display: block;
}

.our-service h2 {
  padding-top: 60px;
  text-align: center;
}

.item-3 {
  flex-basis: 33%;
  padding-top: 40px;
}
.item-3 img {
  width: 90%;
  margin: 0% 5% 0% 5%;
  height: 45%;
}
.item-3 h4 {
  margin-left: 5%;
  font-size: 15px;
  font-family: FuturaLT-Bold;
  color: #222222;
}
.item-3 p {
  font-size: 14px;
  color: #222222;
  float: left;
  margin: 0 auto;
  padding: 0% 5% 2% 5%;
}

.know {
  padding-bottom: 0;
}
.know .button {
  margin-left: 5%;
  margin-top: 20px;
}

.Why-chose-us {
  margin: 0 auto;
  width: 100%;
  background-color: #f2f7fa;
  display: block;
}

.text-center {
  text-align: center;
  padding: 60px 0 0 0;
}
.item-4 {
  flex-basis: 25%;
  margin: 2% 0 0;
}
.item-4 h4 {
  font-size: 15px;
  font-family: FuturaLT-Bold;
  color: #222222;
  text-align: center;
}
.item-4 h6 {
  font-size: 12px;
  color: #f3f3f3;
  margin: 2px 0px;
}
.item-4 p {
  width: 180px;
  word-break: break-word;
  text-align: center;
  margin: 0 auto;
  line-height: 1.2;
}
.item-4 a {
  color: #e5e5e5;
  padding-bottom: 1.5em;
}

.bo-1 {
  width: 180px;
  height: 180px;
  background: #ffea9f;
  border-radius: 90px;
  margin: 0 auto;
}

.bo-2 {
  width: 160px;
  height: 160px;
  position: absolute;
  margin: 10px 10px;
  background: #fadb64;
  border-radius: 80px;
}

.bo-3 {
  width: 140px;
  height: 140px;
  position: absolute;
  margin: 10px 10px;
  background: #ffcb0f;
  border-radius: 70px;
}

.bo-4 {
  width: 120px;
  height: 120px;
  position: absolute;
  margin: 10px 10px;
  background: #ffffff;
  border-radius: 60px;
}
.bo-4 img {
  margin-top: 35px;
  margin-left: 35px;
  width: 50px;
  height: 50px;
}

.made-with-love {
  margin: 0 auto;
  width: 100%;
  display: block;
  background-image: url("../images/Layer 3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.made-with-love h2 {
  padding-top: 60px;
  text-align: center;
  color: #f3f3f3;
}
.made-with-love section {
  text-align: center;
}
.made-with-love p {
  font-size: 14px;
  color: #f3f3f3;
  letter-spacing: 0.4px;
  padding: 0 5%;
}
.made-with-love nav {
  padding: 40px 0 30px 0;
}
.made-with-love nav a {
  font-size: 14px;
  font-family: FuturaLT;
  color: #f3f3f3;
  display: inline-block;
  padding: 0.5em 1em;
}
.made-with-love nav a:hover {
  transition: all 0.5s ease-out;
  background-color: #222533;
  border-radius: 50px;
}

.item-2 {
  flex-basis: 50%;
  height: 100%;
}

.item-8 {
  flex-basis: 50%;
  height: 100%;
}
.item-8 img {
  width: 96%;
  height: 203px;
  float: right;
}

.item-6 {
  flex-basis: 50%;
}
.item-6 img {
  height: 415px;
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}
figure:hover img {
  cursor: pointer;
  opacity: 1;
  -webkit-animation: flash 2.5s;
  animation: flash 2.5s;
  transition: all 0.5s ease-out;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 50%;
  max-width: 100%;
}

.mySlides img {
  position: relative;
  margin-top: 3%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 400px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f3f3f3;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.close {
  position: absolute;
  top: 15px;
  left: 35px;
  color: #f3f3f3;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #e5e5e5;
  text-decoration: none;
  cursor: pointer;
}

.review {
  margin: 0 auto;
  width: 100%;
  display: block;
  background-image: url("../images/Layer 17.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.review.item-3 {
  padding-bottom: 0;
}

.review-left {
  height: 230px;
  margin: 30px 4% 0 4%;
  border-radius: 7.5%;
  background-color: #e5e5e5;
  z-index: 0;
}
.review-left p {
  font-size: 14px;
  text-align: left;
  margin-top: 40px;
  width: 75%;
  letter-spacing: 0.4px;
  padding: 0;
  display: inline-block;
}
.review-left img {
  float: left;
  margin: 20px 0 0 5px;
  max-width: 53px;
  max-height: 40px;
}

.review-center {
  height: 300px;
  margin: 0 3%;
  border-radius: 7.5%;
  background-color: #ffcb0f;
  z-index: 1;
}
.review-center p {
  font-size: 14px;
  text-align: left;
  margin-top: 55px;
  width: 75%;
  padding: 0;
  letter-spacing: 0.4px;
  display: inline-block;
  color: #f3f3f3;
}
.review-center img {
  float: left;
  margin: 35px 0 0 5px;
  max-width: 53px;
  max-height: 37px;
}

.icon-img {
  width: 90px;
  margin: 10% auto;
  text-align: center;
}
.icon-img figure:hover img {
  transform: scale(1.2);
  transition: transform 0.5s ease;
  cursor: pointer;
}
.icon-img h5 {
  margin: 0 auto;
  font-size: 14px;
  padding-top: 5px;
  width: 95px;
  font-family: FuturaLT-Bold;
}

.box-review, .box-left, .box-center {
  margin: 0 auto;
  border-top: 15px solid #ffcb0f;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  width: 0;
  height: 0;
}

.box-left {
  border-top: 15px solid #e5e5e5;
}

.contact {
  margin: 0 auto;
  width: 100%;
  display: block;
  background-color: #ffcb0f;
  opacity: 0.75;
}
.contact .item-2 h2 {
  font-size: 24px;
  margin: 0 auto;
  padding-top: 8%;
  text-align: center;
  font-family: FuturaLT-Bold;
  color: #222222;
}
.contact .item-2 h1 {
  font-family: FuturaLT;
  font-size: 32px;
  text-align: center;
  color: #222222;
  margin: 0 auto;
}

.tab-mo {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  display: block;
  background-color: #222533;
  opacity: 0.4;
}

.footer {
  margin: 0 auto;
  width: 100%;
  display: block;
  background-image: url("../images/Layer 4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-footer {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.circle {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #ffcb0f;
  border-radius: 20px;
}
.circle:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.box-right {
  float: left;
  display: inline-block;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e5e5e5;
  width: 0;
  margin: 2% 1% 0% 0%;
}

.item-5 {
  flex-basis: 20%;
}
.item-5 i {
  margin: 0 auto;
  color: #222222;
  line-height: 40px;
}
.item-5 a {
  color: #222222;
  padding: 0;
}

.item-15 {
  flex-basis: 10%;
}
.item-15 i {
  float: right;
}
.item-15 span {
  float: left;
  margin-left: 10%;
  display: block;
}

.item-85 {
  flex-basis: 90%;
  display: block;
}
.item-85 i {
  float: right;
}
.item-85 span {
  float: left;
  margin-left: 15px;
  display: block;
}

.text-margin-left h2 {
  padding-left: 5%;
}

.footer .item-4 p {
  display: inline;
  font-size: 15px;
  color: #e5e5e5;
  margin: 10% 3% 0% 10%;
  float: left;
}

.item-4-footer-2 {
  flex-basis: 20%;
}
.item-4-footer-2 p {
  font-size: 14px;
  color: #e5e5e5;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.item-4-footer-2 a {
  color: #e5e5e5;
  font-size: 14px;
  padding-left: 5px;
}

.item-4-footer {
  flex-basis: 30%;
}
.item-4-footer p {
  font-size: 14px;
  color: #e5e5e5;
  margin-top: 82px;
  margin-bottom: 50px;
  margin-right: 10%;
  float: left;
}
.item-4-footer a {
  color: #e5e5e5;
  font-size: 14px;
}
.item-4-footer a span {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  left: 20px;
}

.item-4-footer h2, .item-4-footer-2 h2 {
  font-size: 20px;
  color: #e5e5e5;
  padding-top: 50px;
  text-align: left;
}

.item-4-footer-2 ul, .item-4-footer ul {
  margin: 40px 0px 0px 0px;
  padding: 0;
  list-style: none;
}

.item-4-footer-2 li, .item-4-footer li {
  font-size: 15px;
  color: #e5e5e5;
  display: list-item;
  margin-bottom: 8%;
}

.item-4-footer-2 a:hover, .item-4-footer .last-post:hover, .item-4-footer-2 span:hover {
  color: #ffcb0f;
}

footer {
  margin: 0 auto;
  width: 100%;
  display: block;
  background-color: #222533;
}
footer .footer-text {
  text-align: center;
  font-size: 14px;
  padding: 35px;
}
footer p {
  display: inline;
  color: #f3f3f3;
}
footer h6 {
  top: 10px;
  display: inline;
  color: #ffcb0f;
  font-size: 14px;
}

.last-post {
  padding-top: 5px;
  margin-left: 10px;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.circle-1 {
  width: 49px;
  height: 49px;
  background: #e5e5e5;
  border-radius: 40px;
  text-align: center;
  display: inline-block;
}

.circle-2 {
  width: 45px;
  height: 45px;
  margin: 2px;
  position: absolute;
  background: #222222;
  border-radius: 40px;
}

.ct-ft2 {
  font-family: FuturaLT;
  font-size: 16px;
  color: #e5e5e5;
  line-height: 1.6;
}

.ct-latest-number {
  font-size: 18px;
  line-height: 1.4;
}

.ct-latest-word {
  font-size: 12px;
  line-height: 1;
}

@media screen and (min-width: 1200px) {
  .content {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 992px) and (min-width: 576px) {
  .item-4, .item-4-footer-2, .item-4-footer {
    flex-basis: 50%;
    margin: 0 auto;
  }

  .review-left {
    height: 270px;
  }
  .review-left p {
    margin: 0% 5% 13% 10%;
  }

  .review-center p {
    margin: 0% 5% 13% 10%;
  }
}
@media screen and (max-width: 992px) {
  .explor li {
    width: 45%;
    display: inline-block;
  }

  .special {
    margin-top: 0;
  }

  .contact h1 {
    font-size: 22px;
  }

  .contact-input input {
    width: 98%;
  }
  .contact-input button {
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
  }

  .text-area {
    padding: 8% 0% 6% 0%;
  }

  .made-with-love nav {
    padding: 30px 0px 20px 0px;
  }

  .item-4 {
    padding-top: 45px;
  }

  .bg-right {
    display: none;
  }

  .text-left {
    margin: 0% 10%;
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .container-made .item-8 {
    flex-basis: 50%;
  }

  .item-8 {
    flex-basis: 90%;
    margin: 0 auto;
  }

  .item-6 {
    flex-basis: 90%;
    margin: 5px auto;
  }
  .item-6 img {
    width: 98%;
    padding-left: 2%;
  }

  .nav-top span {
    margin-right: 5px;
    margin-left: 5px;
  }

  .text-area {
    margin-left: 0px;
    margin-right: 0px;
  }

  #first {
    margin-left: 25px;
  }

  .content, .content-about {
    margin-left: 3%;
    margin-right: 3%;
  }

  #menu i {
    color: #f2f2f2;
  }

  .navigation {
    transform: translate(500px, 54px);
    display: none;
  }

  .navigation.open {
    z-index: 10;
    background-color: #222533;
    opacity: 0.9;
    width: 150px;
    margin-top: 40px;
    right: 10%;
    height: auto;
    position: absolute;
    transition: transform 0.3s ease;
    display: block;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0, 0);
  }
  .navigation.open a {
    max-width: 100px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 1%;
  }
  .navigation.open a:hover {
    color: #ffcb0f;
  }

  .nav__item {
    display: list-item;
    width: 100%;
    text-align: left;
  }

  .header__menu {
    display: inline-block;
    position: absolute;
    right: 5%;
    padding: 1em;
  }
}
@media screen and (max-width: 575px) {
  .know .button {
    margin-top: 10px;
  }

  form {
    text-align: center;
  }

  .input-search.open {
    width: 280px;
    right: 7%;
  }

  .contact-input button {
    margin-left: 0;
  }

  .item-2 input {
    width: 300px;
    margin-top: 20px;
  }

  .social-icon {
    width: 100%;
    margin-right: 8%;
  }

  .item-4, .item-4-footer-2, .item-4-footer {
    flex-basis: 80%;
    margin: 0 auto;
  }

  .item-3 {
    flex-basis: 95%;
    margin: 0 auto;
  }
  .item-3 img {
    width: 90%;
    height: auto;
  }

  .item-last {
    padding-top: 50px;
  }

  .review-left, .review-center {
    height: 200px;
    margin: 8% 3% 0% 3%;
  }
  .review-left img, .review-center img {
    margin-top: 20px;
    max-width: 40px;
    max-height: 30px;
  }
  .review-left p, .review-center p {
    margin: 20px 0px 20px 10px;
  }

  .item-2 {
    flex-basis: 95%;
  }

  .text-area h1, .text-area h3 {
    font-size: 28px;
    word-break: break-word;
    margin: 0px 0px 5px 0px;
  }

  .text-area h2, .about-com h2, .made-with-love h2, .our-service h2 {
    font-size: 24px;
    word-break: break-word;
    margin: 0 auto;
  }

  .about-com h3 {
    font-size: 20px;
    word-break: break-word;
  }

  .bg-right, .nav-top, .text-area p, .made-with-love p {
    display: none;
  }

  .more {
    padding-top: 10%;
  }

  .icon-img {
    margin: 3% auto 10%;
  }

  .item-2 .container-made {
    padding-bottom: 0px;
  }

  .modal-content {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  #menu {
    display: none;
  }

  .item-5 {
    flex-basis: 15%;
  }

  .about-com {
    height: 422px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    flex-wrap: nowrap;
  }

  .explor {
    margin-left: 10%;
  }
}
@media screen and (max-width: 410px) {
  .button {
    padding: 0.8em 0.7em;
  }
}