.top-header {
  @include style-base-layout;
  background-color: $primary-color;
  height: 50px;
}
.nav-top {
  display: inline-block;
  width: 75%;

  ul{
    padding: 0px;
  }

  li{
    list-style: none;
    display: inline-block;
  }

  span{
    margin-left: 5px;
    font-size: 12px;
    margin-right: 15px;

    &:hover{
      cursor: pointer;
    }
  }
}

.social-icon {
  width: 25%;
  display: inline-block;
  float: right;

  ul{
    padding: 0;
  }

  li{
    list-style: none;
    float: right;
    width: 15px;
    margin-left: 10px;
  }

  i:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease;
    cursor: pointer;
  }
}

#first{
  margin-left: 0%;
}
.tabnav {
  @include style-base-layout;
  background-color: rgb(34, 37, 51);
  height: 82px;

  nav{
    float: right;
    padding-top: 30px;

    a{
      color: $white-color;
      margin-left: 25px;
      font-size: 14px;

      &:hover{
        color: $primary-color;
      }
    }
  }
}
#search {
  width: 20px;
}
.input-search {
  display: none;
}
.input-search.open {
  display: block;
  position: absolute;
  top: 20px;
  right: 10%;
  @include style-input;
  width: 425px;
  z-index: 10;
  transition: all 0.5s ease-out;
  transform: translate3d(0, 100%, 0);
}